<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      type="module"
      src="{{ url_for('static', filename='js/detailed.js') }}"
    ></script>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/index.css') }}"
    />
    <title>NeuroSync</title>
  </head>
  <body>
    <div class="header">
      <div>
        <div class="headerText">NeuroSync</div>
        <div class="line">|</div>
        <div class="experimentName">{{ experiment }}</div>
      </div>
      <div class="homeButton">Home</div>
    </div>
    <div class="versionContainer">
      <div class="versionContent">
        <div class="versionHeader">
          Version:
          <div id="version">{{ version }}</div>
        </div>
        <div class="versionInformation">
          {{ render_markdown(model.get_ml_stats(model.get_ml_stats_path())) | safe if
          model.get_ml_stats_path() != "" else "Please upload ML code file." }}
        </div>
      </div>
      <div class="versionButtons">
        <div class="branch">Branch</div>
        <div class="upload">Upload</div>
      </div>
    </div>
    <div class="screenCover">
      <div class="popUp">
        <div class="exitButton">X</div>
        <div>
          <form method="post" enctype="multipart/form-data">
            <label for="fileUpload">Upload ML code file:</label>
            <input type="file" id="fileUpload" name="fileUpload" />
            <button type="submit" id="uploadButton">Upload</button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
