<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      type="module"
      src="{{ url_for('static', filename='js/detailed.js') }}"
    ></script>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/index.css') }}"
    />
    <title>NeuroSync</title>
  </head>
  <body>
    <div class="header">
      <div>
        <div class="headerText">NeuroSync</div>
        <div class="line">|</div>
        <div class="experimentName">{{ experiment }}</div>
      </div>
      <div class="homeButton">Home</div>
    </div>
    <div class="versionContainer">
      <div class="versionContent">
        <div class="versionHeader">{{ version }}</div>
        <div class="versionInformation">
          {{ model.get_ml_stats_path() if model.get_ml_stats_path() != "" else
          "Please upload ML code file." }}
        </div>
      </div>
      <div class="versionButtons">
        <div class="branch">Branch</div>
        <div class="upload">Upload</div>
      </div>
    </div>
  </body>
</html>
