<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      type="module"
      src="{{ url_for('static', filename='js/index.js') }}"
    ></script>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/index.css') }}"
    />
    <title>NeuroSync</title>
  </head>
  <body>
    <div class="header">
      <div>
        <div class="headerText">NeuroSync</div>
        <div class="line">|</div>
      </div>
      <div class="addExperiment">New</div>
    </div>
    <div class="experimentContainer">
      {% for experiment in experiments %}
      <div class="experiment">{{ experiment }}</div>
      {% endfor %}
    </div>

    <div class="popUp">
      <div class="exitButton">X</div>
      <div>
        <label for="nameWindow">Enter Experiment Name</label>
        <input type="search" id="nameWindow" name="nameWindow" />
      </div>
    </div>
  </body>
</html>
