<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/index.css') }}"
    />
    <title>NeuroSync</title>
  </head>
  <body>
    <div class="header">
      <div>
        <div class="headerText">NeuroSync</div>
        <div class="line">|</div>
      </div>
      <div class="experimentName">{{ experiment.get_name() }}</div>
      <div class="addExperiment">New</div>
    </div>
    <div class="versionContainer">
      {% for version in versions %}
      <div class="version">{{ version.name }}</div>
      {% endfor %}
    </div>
  </body>
</html>
