<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      type="module"
      src="{{ url_for('static', filename='js/semiDetailed.js') }}"
    ></script>
    <link
      href="https://unpkg.com/treeflex/dist/css/treeflex.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/index.css') }}"
    />
    <title>NeuroSync</title>
  </head>
  <body>
    <div class="header">
      <div>
        <div class="headerText">NeuroSync</div>
        <div class="line">|</div>
        <div class="experimentName">{{ experiment }}</div>
      </div>
      <div class="homeButton">Home</div>
    </div>
    <div class="tf-tree tf-custom versionContainer">{{ versions | safe }}</div>
  </body>
</html>
