:root {
  --background: #1c1c1c;
  --headerColour: #565656;
  --itemColour: #56565686;
  --textColour: #fafafa;
  font-family: "Anton", sans-serif;
  font-family: "Roboto Mono", monospace;
  color: var(--textColour);
  background-color: var(--background);
}

.header {
  font-size: 6vh;
  display: flex;
  justify-content: space-between;
  height: 10vh;
  background-color: var(--headerColour);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 4vh;
  box-shadow: 0 10px 5px #3f3f3f;
  border-radius: 0.25vh;
}

.header > div {
  margin: 1vh 0 0 2vh;
  display: flex;
  flex-direction: row;
}

.addExperiment,
.homeButton,
.branch,
.upload {
  transform: translateX(-2vh) translateY(-0.5vh);
  background-color: var(--itemColour);
  justify-content: center;
  align-items: center;
  border-radius: 1vh;
}

.experimentContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.experiment,
.version {
  height: 25vh;
  width: 25vh;
  background-color: var(--itemColour);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1vh;
  box-shadow: 0 0 15px #ffffff;
  font-size: 2vh;
}

.experiment:active,
.version:active,
.homeButton:active,
.branch:active,
.upload:active {
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
  transform: translate3d(2px, 2px, 2px);
}

.addExperiment:active,
.exitButton:active {
  transform: translate3d(1px, 1px, 1px);
}

.popUp {
  position: fixed;
  width: 40vw;
  height: 20vh;
  padding: 0.7vw;
  top: 40%;
  left: 30%;
  box-shadow: 0 0 15px var(--headerColour);
  border-radius: 10px;
  background-color: var(--headerColour);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 2.5vh;
}

.screenCover {
  visibility: hidden;
  width: 200%;
  height: 200%;
  position: fixed;
  top: 0%;
  left: 0%;
  background-color: rgba(0, 0, 0, 0.8);
}

.version {
  border-radius: 25vh;
  margin-left: 1vh;
  margin-right: 1vh;
}

.versionContainer {
  height: fit-content;
  display: flex;
  margin-top: 2vh;
  flex-direction: row;
  width: 80vw;
  margin-left: 10vw;
  margin-right: 10vw;
  font-size: 3vh;
}

.versionContent {
  background-color: var(--itemColour);
  display: flex;
  border-radius: 1vh;
  box-shadow: 0 0 15px #ffffff;
  font-size: 2vh;
  width: 50vw;
  display: flex;
  flex-direction: column;
}

.versionButtons {
  width: 30vw;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.versionHeader {
  display: flex;
  flex-direction: row;
}

#version {
  margin-left: 5px;
}

.versionHeader,
.versionInformation {
  margin-top: 1vh;
  margin-left: 1vw;
  margin-bottom: 2vh;
}

.branch,
.upload {
  margin-bottom: 2vh;
  width: 10vw;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.versionInformation {
  height: fit-content;
}
